body {
    height: 100vh;
    padding: 30px;
    background-image: linear-gradient(to bottom, #009688 15%, #DADBD3 15%);
}


/* utils */
/* images*/
img {
    width: 75px;
    border-radius: 50%;
    padding: 8px;
}

#contacts li,
u {
    cursor: pointer;
}

/* side section */
#contacts-aside {
    background-color: #fff;
    height: 100%;
}

/*header */
header {
    background-color: #EAEAEA;
}

/* fa-solid */
.fa-solid {
    color: #B1B1B1;
    font-size: 20px;

    cursor: pointer;
}

#main-chat footer .fa-solid {
    cursor: pointer;

    font-size: 30px;
    margin: 10px;
}

#quit-notification .fa-solid {
    border-radius: 50%;

    color: #8EDAFC;
    background-color: #F2FBFF;

    padding: 15px;

}

/* left side */
/* notification */
#quit-notification {
    background-color: #8EDAFC;
    padding: 10px;

}

/* search message */
#searching-messages {
    position: relative;
    height: 55px;
}

#contacts-aside .fa-magnifying-glass {
    position: absolute;
    top: 56.5%;
    left: 15px;
    transform: translateY(-50%);
}

#contacts-aside input {
    padding-left: 50px;
    margin-left: 2.5%;

    width: 95%;
}


/* main chat */

#chat {
    background-image: url("../img/mine.jpg");
}

#main-chat footer {
    height: 80px;
    background-color: #F3EEEA;
}


#main-chat footer input {
    width: 90%;
}

/* messages */
#chat .message-container {
    display: flex;

}

#chat time {
    font-size: 10px;
    text-align: right;
    color: #D4CCCE;
}

#chat .message-container.sent {
    justify-content: flex-end;

}

#chat .message-container.sent .message {
    background-color: #D5F9BA;
}


#chat .message-container.received {
    justify-content: flex-start;
}

#chat .message-container.received .message {
    background-color: #fff;
}